$black: #222222;
$white: #fff;
$green: #84dcc6;
$grey: #4a4e69;
$light-grey: rgba(235, 235, 245, 0.6);
$grey-blue: #95a3b3;
$blue: #4b4e6d;

$mobile-breakpoint: 550px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
